.price-card {
  position: relative;
  overflow: hidden;
  margin: 63px 18px 63px 0;
  flex-shrink: 0;
  background-color: $color-card-fone;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.08);
  width: 380px;
  height: 770px;

  &:last-child {
    margin-right: 0;
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title-main {
    margin: 33px 0 0 0;
    line-height: 43px;
    font-size: 35px;
    font-weight: $type-bold * 7;
  }

  &__title-less {
    line-height: 24px;
    font-size: 20px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
    height: 105px;
    line-height: 67px;
    font-size: 55px;
    font-weight: $type-bold * 7;

    &_green {
      background-color: $color-card-green;
    }

    &_blue {
      background-color: $color-card-blue;
    }

    &_orange {
      background-color: $color-card-orange;
    }
  }

  &__description {
    margin: 40px 26px 0 26px;
    line-height: 18px;
    text-align: center;
    font-size: 15px;
    font-weight: $type-bold * 3;
  }

  &__options-list {
    margin: 40px 0 0 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-left: 59px;
    height: 50px;
    line-height: 18px;
    font-weight: $type-bold * 3;
    font-size: 15px;
    background-repeat: no-repeat;

    &_green {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
      background-position: 22px center;
    }

    &_blue {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
      background-position: 22px center;
    }

    &_orange {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
      background-position: 22px center;
    }

    &:nth-child(odd) {
      background-color: $color-odd-item-fone;
    }
  }

  &__order-btn {
    display: block;
    margin: 39px auto 0;
    width: 154px;
    height: 40px;
    font-size: 14px;
    line-height: 17px;
    border-radius: 20px;
    color: $text-color-white;
    border: none;

    &_green {
      background-color: $color-button-green;
    }

    &_blue {
      background-color: $color-button-blue;
    }

    &_orange {
      background-color: $color-button-orange;
    }
  }

  &__badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 30px;
    right: -30px;
    transform: rotate(45deg);
    width: 147px;
    height: 25px;
    line-height: 17px;
    font-size: 14px;
    font-weight: $type-bold * 7;
    background-color: $color-popular-red;
  }
}
