// BACKGROUND

$color-page-fone: #141b1c;
$color-card-fone: #334247;
$color-odd-item-fone: #2a3438;
$color-card-green: #5bb189;
$color-card-blue: #3a6ba5;
$color-card-orange: #ec632a;
$color-popular-red: #dc3f45;

// TEXT

$text-color-white: #ffffff;

// BUTTON

$color-button-green: #5bb189;
$color-button-blue: #3a6ba5;
$color-button-orange: #ec632a;

// TYPE BOLD

$type-bold: 100;
